
.occupation {
  @extend .title-general;
  padding: 94px 0px;
  padding-top: 0;
  
}
  .occupation__list {
    // display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .occupation__list__item {
    position: relative;
  } 
  
  .occupation__list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .occupation__list__text { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding: 27px 40px;
    margin: 0;
    background-color: $occupation__text-background-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $occupation__text-color;
  }