.examples { 
  
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px ) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples__title {
  @extend %visually-hidden
}

.examples__button-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: center;
      }
  }

.examples__button-item {
    @media screen and (max-width: 767px) {
        &:nth-child(-n + 3) {
            margin-bottom: 15px;
          }

        &:not(:last-child) {
            margin-right: 8px;
          }
        &:nth-child(3) {
            margin-right: 0;
          }
      }

    @media screen and (min-width: 768px) {
        margin-bottom: 0;

        &:not(:last-child) {
            margin-right: 8px;
          }
      }
  }

  .examples__button {
    padding: 6px 22px;

    border: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;

    background-color: $examples__button-background-color;
    color: $title-text-color;

    transition: 
    background-color 250ms $transition-timing,
    color 250ms $transition-timing, 
    box-shadow 250ms $transition-timing;

    &:hover,
    &:focus {
        color: $button-color-hover;
        background-color: $header-color-hover;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }
  }

  .examples__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
  }
  .examples__item{
    display: flex;
    width: 100%;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    
      @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
      }
    
      @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 3);
      }
  }
  
  
  .examples__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: box-shadow 250ms $transition-timing;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .examples__image-box {
    position: relative;
    overflow: hidden;
  }
  
  .examples__second-laer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: $examples__second-laer-background-color;
    opacity: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: $examples__second-laer-color;
    transform: translateY(100%);

    transition: 
    transform 250ms $transition-timing, opacity 250ms $transition-timing;

    .examples__link:hover &,
    .examples__link:focus & {
        opacity: 1;
        transform: translateY(0);
      }
  }
  

  .examples__text-box {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid $examples__text-box-border;
    border-right: 1px solid $examples__text-box-border;
    border-bottom: 1px solid $examples__text-box-border;

    &-title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-decoration: none;
        color: $title-text-color;
      }
    
      &-text {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $primary-tex-color;
      }
  }
