
.social-links {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
    margin-right: 10px;
     }
  
    &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__icon {
    fill: currentColor;
  }
  }