.header-contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
};

  @media screen and (min-width: 1200px) {
    .header-contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  };

.header-contacts__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: inherit;
      transition: color 250ms $transition-timing;

    &:hover,
    &:focus {
      color: $header-color-hover;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      font-size: 12px;
      line-height: 1.17;
  
      &--top {
        padding-top: 20px;
        padding-bottom: 5px;
      }
  
      &--bottom {
        padding-top: 5px;
        padding-bottom: 20px;
      }
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  };

.header-contacts__icon {
      margin-right: 10px;
      fill: currentColor;
  };
