
.preference {
 padding: 60px 0px;
 @media screen and (min-width:1200px) {
  padding: 94px 0px;
 }
}

.preference__list {
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.preference__item {
  width: 100%;

  @media screen and (max-width:767.99px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width:1200px) {
    width: 270px;
    
    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.preference__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $preference__icon-background-color;
    } 
    
   .preference__description-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767.99px) {
      text-align: center;
    }
    }
    
   .preference__description-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }
