.team {
  @extend .title-general;
  padding: 94px 0px;
  background-color: $team-background-color;

  &__list {
    // display: flex;
  }

  &__list > li:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    width: 270px;
    background-color: $team__item-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__wrap {
    padding: 30px 30px;
    text-align: center;
  }
  &__name {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  &__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}


.social-links__link--team {
  background-color: $social-links__link--team-background-color;
  color: $social-links__link--team-icon-color;
  transition: background-color 250ms $transition-timing, color 250ms $transition-timing;
  
}

.social-links__link--team:hover,
.social-links__link--team:focus {
  background-color: $social-links__link--team-background-color-hover;
  color: $social-links__link--team-icon-color-hover;
}
